{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <div class="d-flex align-items-center gap-2 mb-2 mt-2">
        <h1>Tag: <p class='badge rounded-pill text-bg-primary' style='font-size: 60%'>{{tag}}</p></h1>
        <a href="{% url "index" %}">New Questions</a>
    </div>
    {% for question in questions %}
    <articles class="d-flex gap-3 flex-column mb-3">
        {% include 'layouts/question.html' %}
    </articles>
    {% endfor %}
    {% include 'layouts/pagination.html' %}
{% endblock %}